form {
  box-shadow: 10px 20px 20px black;
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
}
label {
  display: block;
}
input {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
h1 {
  text-align: center;
}
fieldset {
  border: 1px solid black;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}
